<div class="jumbotron">
  <h1>Best Facts app!</h1>
  <p>Single place to get facts right</p>
</div>

<div class="panel panel-default" ng-controller="FactController">
  <!-- Default panel contents -->
  <div class="panel-heading" ng-cloak>
    <span>Listing all facts!!</span>
    <!-- <a class="btn pull-right" ng-class="{show: isUserLoggedIn, hide:!isUserLoggedIn}"><i class="fa fa-plus"></i> Add new fact</a> -->
    <a data-toggle="modal" data-target="#loginModal" class="btn pull-right" ng-class="{show: !isUserLoggedIn, hide:isUserLoggedIn}"><i class="fa fa-sign-in"></i> Login/Register to add a fact!</a>
  </div>
  <div class="panel-body fact-list-heading">
    <div class="col-md-1"># </div>
    <div class="col-md-2"> <span class="fact-title" ng-click="getAllFacts('Author')"> Author </span></div>
    <div class="col-md-4"> <span class="fact-title" ng-click="getAllFacts('Title')"> Title </span></div>
    <div class="col-md-4"> <span class="fact-title" ng-click="getAllFacts('Content')"> Content </span></div>
    <div class="col-md-1"></div>
  </div>
  <ul class="list-group" ng-cloak>
    <li class="list-group-item single-fact" ng-repeat="fact in facts">
      <div class="row">
        <div class="col-md-1">{{$index + 1}}</div>
        <div class="col-md-2">{{fact.username}}</div>
        <div class="col-md-4">
          <span ng-hide="fact.editing">{{fact.title}}</span>
          <input ng-show="fact.editing" class="form-control" type="text" ng-init="fact.newTitle = fact.title" ng-model="fact.newTitle" required/>
        </div>
        <div class="col-md-4">
          <span ng-hide="fact.editing">{{fact.content}}</span>
          <textarea ng-show="fact.editing" class="form-control auto-grow" ng-model="fact.newContent" ng-init="fact.newContent=fact.content"></textarea>
        </div>
        <div class="col-md-1 fact-edit-control" ng-show="fact.user_id === current_user_id">
          <i class="fa fa-trash-o pull-right" ng-click="removeFact(fact)" ng-hide="fact.editing"></i>
          <i class="fa fa-pencil pull-right" ng-click="fact.editing=true" ng-hide="fact.editing"></i>

          <i class="fa fa-times pull-right" ng-click="fact.editing=false" ng-show="fact.editing"></i>
          <i class="fa fa-check pull-right" ng-click="updateFact(fact)" ng-show="fact.editing"></i>
        </div>
      </div>
    </li>
    <li class="list-group-item new-fact">
      <div class="row">
        <div class="col-md-1">{{facts.length + 1}}</div>
        <div class="col-md-2">{{loggedinUsername}}</div>
        <div class="col-md-4">
          <input ng-show="addingFact" class="form-control" type="text" ng-model="newTitle" required/>
        </div>
        <div class="col-md-4">
          <textarea ng-show="addingFact" rows="1" class="form-control auto-grow" ng-model="newContent" required></textarea>
        </div>
        <div class="col-md-1">
          <i ng-click="addingFact=false" class="fa fa-times pull-right"></i>
          <i ng-click="createFact()" class="fa fa-check pull-right"></i>
        </div>
      </div>
      <div class="add-new-fact" ng-init="addingFact=false" ng-hide="addingFact">
        <a ng-click="addingFact=true" ng-show="isUserLoggedIn" class="btn">Click to add a new fact!!</a>
        <a data-toggle="modal" ng-hide="isUserLoggedIn" data-target="#loginModal" class="btn" ng-class="{show: !isUserLoggedIn, hide:isUserLoggedIn}"><i class="fa fa-sign-in"></i> Login/Register to add a fact!</a>
      </div>
    </li>
  </ul>
</div>
